# prod
# Rename this file to "prod.yml"
deployment:
    user: gist
    from: ./
    to: /var/www/gist/
    excludes:
        - "*.svn"
        - "*.git"
        - "*.swp"
        - "app/config/config.yml"
        - "app/config/propel/"
        - "app/propel/"
        - "data/git"
        - "deploy"
        - "tags"
        - "propel.yaml"
        - "composer.lock"
        - "composer.json"
        - "bower.json"
        - ".bowerrc"
hosts:
    - gist.mycompany.com
tasks:
    pre-deploy:
    on-deploy:
    post-deploy:
verbose_logging: true
