/.mage/config/environment/*.yml
/.mage/logs/*.log
/composer.lock
/vendor/
/propel.yaml
/src/Gist/Model/Base/
/src/Gist/Model/Map/
/app/propel/
/node_modules/
/app/config/config.yml
/app/config/propel/
/data/
/trans/
