body {
	background: #333;
}

.navbar {
	border-radius: 0;
}

.form-control {
	color: #fff;
	background: #2D2D2D;
	border: #333;
}

#form_content {
	display: block;
	width: 100%;
	padding: 10px;
}

#languages {
	padding-bottom: 5px;
}

#languages .btn-group:first-child {
	margin-right: 4px;
}

#viewer pre, #viewer code, #revisions pre, #revisions code, #embed pre, #embed code {
    background: none !important;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
    border: 0;
}

.panel-heading .actions {
	margin-top: -5px;
}

.diff {
	display: none;
}

#options {
	margin-bottom: 17px;
}

.btn-delete {
    background: #DE3336;
    color: #fff;
}

.btn-error:active, .btn-error:hover, .btn-error:focus {
    color: #000;
}

pre.line-numbers {
    padding-left: 50px !important;
}

.line-numbers-rows {
    top: -4px !important;
}
