.navbar {
	border-radius: 0;
}

#form_content {
	display: block;
	width: 100%;
	padding: 10px;
}

#languages {
	padding-bottom: 5px;
}

#languages .btn-group:first-child {
	margin-right: 4px;
}

pre {
	background: #222;
	border: #222;
	color: #ddd;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

pre ol {
	padding-left: 50px !important;
}

pre li:hover {
	background: #444;
}

.panel-heading .actions {
	margin-top: -5px;
}

div.diff {
	display: none;
}

.de1 {
	padding-left: 5px;
	padding-right: 5px;
}

.li1 {
	background: #333;
}

.re8 {
	color: #52F700;
}

.kw3 {
	color: #C6C765;
}

#viewer .syntaxhighlighter td {
	vertical-align: top !important;
}

#options {
	margin-bottom: 17px;
}

.btn-delete {
    background: #DE3336;
    color: #fff;
}

.btn-error:active, .btn-error:hover, .btn-error:focus {
    color: #000;
}
