{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'gist.404.title'|trans }}
                </div>
                <div class="panel-body">
                    <p>{{ 'gist.404.message'|trans }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
