{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		{{ form(form) }}
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<input type="text" class="form-control" id="name" placeholder="Title">
				</div>
				<div class="panel-body">
					<p class="text-primary">
						<span class="glyphicon glyphicon-info-sign"></span>
						En activant le chiffrement, le code déposé ne pourra pas être forké.
					</p>
					<div class="btn-toolbar">
						<div class="btn-group" id="languages">
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									Language XML
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a href="html">HTML/XML</a>
									</li>
									<li>
										<a href="css">CSS</a>
									</li>
									<li>
										<a href="javascript">JAVASCRIPT</a>
									</li>
									<li>
										<a href="php">PHP</a>
									</li>
									<li>
										<a href="sql">SQL</a>
									</li>
									<li>
										<a href="yaml">YAML</a>
									</li>
									<li>
										<a href="perl">PERL</a>
									</li>
									<li>
										<a href="c">C/C++</a>
									</li>
									<li>
										<a href="asp">ASP</a>
									</li>
									<li>
										<a href="python">PYTHON</a>
									</li>
									<li>
										<a href="bash">BASH</a>
									</li>
									<li>
										<a href="actionscript">ACTION SCRIPT</a>
									</li>
									<li>
										<a href="texte">TEXT</a>
									</li>
								</ul>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									Chiffrement : non
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a href="html">oui</a>
									</li>
									<li>
										<a href="css">non</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<p>
						<textarea rows="10" id="code" class="form-control"></textarea>
					</p>
					<p>
						<input type="submit" class="btn btn-primary" value="Envoyer">
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
